.jobdate {
    float: right;
}

.jobtitle {
    font-style: italic;
}

.spliter {
    background-color: #000000;
    height: 2px;
    width: 100%;
}

.block {
    padding-bottom: 80px;
}

.photo {
    border: 1px solid #ddd;
    border-radius: 8px;
    float: right;
    height: 200px;
}