.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.content {
    flex-grow: 1;
}

.background{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.9;
}

.header_background{
    background-image: url('../images/header_background.png');
    background-size: contain;
    background-attachment: fixed;
    height: 20vh;
    opacity: 0.7;
}

.footer {
    background-color: #F0F8FF;
}